#profile-wrapper{
    padding: 15px;
    border-radius: 5px;
    position: relative;
    margin: 0 auto 25px;
    border: none;
    color: var(--clr-dark);
    background: var(--background-style-3);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#profile-wrapper .header{
    /* background: var(--grd-primary); */
    border: none;
    color: var(--clr-dark);
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--clr-dark);
}

#profile-wrapper .header h1{
    font-size: 16px;
    font-weight: 700;
    font-family: var(--font-secondary);
}

#profile-wrapper .row{
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

#profile-wrapper .label{
    flex: 1 0 35%;
    font-size: 14px;
    font-weight: 500
}

#profile-wrapper .divider{
    flex: 0 0 5px;
    font-size: 14px;
}

#profile-wrapper .value{
    flex: 1 0 calc(65% - 10px);
    font-size: 15px;
    font-weight: 500
}

#profile-wrapper .note{
    font-size: 12px; 
    font-weight: 500; 
    color: var(--clr-dark); 
    margin-bottom: 15px;
}

#profile-wrapper .note b{
    font-size: 12px; 
}

#settings{
    padding: 0;
    margin: 0 auto;
}

#settings .links{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#settings .link{
    display: flex;
    gap: 10px;
    background: red;
    padding: 8px 10px;
    margin: 2px;
    position: relative;
    border-radius: 5px;
    background: var(--gradient-style-2);
    box-shadow: inset 0 0 5px #000000;
    cursor: pointer;
}

#settings .link:before{
    content: '';
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: white;
    z-index: -1;
    top: -2px;
    left: -2px;
    border-radius: 5px;
    background: var(--background-style-1);
}

#settings .links a{
    font-size: 14px;
    color: white;
    line-height: 1.3;
    font-family: var(--font-secondary);
    border-radius: 5px;
    font-weight: 700;
}

#settings .links .logout{
    background: linear-gradient(180deg, #ff1a1a, #630000);
}

#btn-add-bank{
    display: block;
    padding: 8px 10px;
    position: relative;
    border-radius: 5px;
    background: var(--gradient-style-2);
    box-shadow: inset 0 0 5px #000000;
    width: 100%;
    color: var(--clr-style-1);
    text-align: center;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    animation: btn-deposit 1s infinite linear;
    font-weight: 700;
    margin: auto;
    width: 80%;
    font-size: 14px;
}

#modal-change-language{
    padding: 25px 10px;
}

#modal-change-language .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal-change-language p{
    margin-bottom: 10px;
    text-align: center;
}

#modal-change-language img{
    max-width: 130px;
    margin: 15px 25px;
}

#modal-change-language .btn-language{
    width: 100%;
    max-width: 200px;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    background: var(--gradient-style-1);
    color: var(--clr-dark);
    margin-bottom: 10px;
}

#modal-change-language .btn-language:last-of-type{
    margin-bottom: 0;
}

#modal-change-language .title{
    margin: 10px auto 15px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-transform: uppercase
}